.productsList{
    width: 50%;
}
.summaryName{
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
}
.checkout{
    display: flex;
    flex-direction: row;
    padding: 5%;
}
.price{
    padding-left: 10%;
    margin-left: auto;
}
.summaryItem{
    display: flex;
    flex-direction: row;
}
.summary{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2%;
}
.buttons{
    width: 100%;
}
.buttons > * {
    margin-top: 5px;
    margin-bottom: 5px;
}
.itemList{
    flex: 1;
}
.total{
    display: flex;
    flex-direction: row;
}
.ammount{
    justify-self: flex-end;
    margin-left: auto;
}
.cards{
    display: flex;
    flex-direction: row;
}
.delete{
    margin: auto auto;
}