.productsPage {
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 1%;
    padding-left: max(200px,20%);
}
.sideNav {
    float: left;
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
}
